.contenedorPrincipal1 {
    background-color: var(--DarkGrey);
    height: 340px;
    width: 290px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
  }

  .nav-link
{
  text-decoration: none;
}