.contenedor1{
  width: 450px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 0;
}
.cabeza {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px; 
    width: 270px;
    margin-left: 70px;
    margin-right: 65px;
  }
  .imagen {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
  }
  
.nombre{
    color:var(--White);
    /* font-family: 'Inter'; */
    font-size:22px;
    margin-top: 16px;
    margin-bottom: 0px;
    /* font-weight: 700; */
  }
.genero{
    color: var(--White);
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
  }
.estado{
    color:var(--Green);
    margin: 5px;
    font-size: 14px;
  }
.especie{
    color:var(--White);
    font-size: 14px;
    margin: 0px;
  }

  .inter-Normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }